@import '../../assets/variables.scss';

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),url("../../assets/images/team_india.jpg");
    background-position:center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px 5vw;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;
    border-bottom: 1px solid white;
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .logo {
    height: 40px;
    padding-bottom: 10PX;
    
  }
  
  
  .linksDiv {
    display: flex;
    
  }
  .navLinks, .socialLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  height: 100%;
  }

  .navLinks li {
  margin-bottom: 12px;
  }


.imageLink{
  height: 2rem;
  transition: height 0.3 ease;
}

.socialLinks li {
  font-size: 2rem;
  margin-bottom: 2px;
  transition: color 0.3s ease;

  &:hover {
    color: #FFD700; // Gold color on hover
    animation: shake 0.3s ease-in-out;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  50% { transform: translateX(1px); }
  75% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

.author {
    transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #FFFFFF;
    &:hover {
      color: #DAA520;
    }
}

