@import '../../assets/variables.scss';

.mapWrapper {
    width: 100%;
    height: 50vh; // Ensures the wrapper has a height
    min-height: 300px; // Prevents collapsing on small screens
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map {
    width: 100%;
    max-width: 600px; // Prevents it from being too wide
    height: 100%; // Makes sure it takes the full height of wrapper
    border-radius: 15px;
  }